.container{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo{
    color: rgb(254, 4, 4);
    text-decoration: none;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.image{
    border-radius: 50%;
}
.post{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.auth{
    display: flex;
    align-items: center;
    gap: 10px;
}
.login{
    color: white;
}
.register{
    color: white;
}